<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Firebase</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">Link</a> -->
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <div class="form-inline my-2 my-md-0">
      <button (click)="logout()" class="btn btn-info my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-log-out"></span>Logout</button>
    </div>
  </div>
</nav>
<p class="text-center font-weight-bold">Ngrx App</p>


<!-- <div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top image" [src]="user.image" *ngIf="user.image" alt="User image">
      <div *ngIf='user.provider != "password"'class="card-body">
        <h4 class="card-title">{{user.name}}</h4>
      </div>
      <div *ngIf='user.provider == "password"'class="card-body">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label>Your name</label>
            <input type="text" formControlName="name" class="form-control" required>
          </div>
        </form>
        <a (click)="save(profileForm.value)" class="btn btn-primary">Save</a>
      </div>
    </div>
  </div>
</div> -->


<app-create></app-create>